@charset "UTF-8";
/* Generic Styles */
.comWidth {
  width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.leftArea {
  float: left; }

.rightArea {
  float: right; }

.hide {
  display: none; }

.show {
  display: block; }

/* topBar */
.topBar {
  height: 31px;
  background-color: #f7f7f7;
  line-height: 31px; }
  .topBar a:hover {
    color: #1d7ad9; }

.collection {
  background: url(../images/icons/collection.png) left center no-repeat;
  padding-left: 19px;
  font-weight: bold; }

/* logoBar */
.logoBar {
  height: 85px;
  background-color: #1d7ad9; }

.logo {
  padding-left: 41px;
  padding-top: 13px; }

.search_box {
  width: 430px;
  padding-top: 23px;
  padding-left: 185px; }

.search_text {
  width: 350px;
  height: 35px;
  line-height: 35px\9;
  /*css hack \9表示兼容所有IE浏览器*/
  padding: 0 5px; }

.search_btn {
  width: 70px;
  height: 35px;
  font-size: 14px;
  font-family: "Microsoft YaHei","微软雅黑";
  background-color: #ff8c00;
  color: #FFF; }

/*shopping cart*/
.shopCar {
  width: 145px;
  height: 35px;
  background-color: #ff8c00;
  color: #FFF;
  margin-top: 23px;
  margin-right: 59px;
  font-size: 14px;
  font-family: "Microsoft YaHei", "微软雅黑";
  line-height: 35px; }

.shopText {
  width: 89px;
  height: 100%;
  border-right: 1px solid #e27a00;
  background: url(../images/icons/cart.png) 10px 6px no-repeat;
  text-indent: 40px; }

.shopNum {
  width: 25px;
  height: 35px;
  border-left: 1px solid #ff9c01;
  background: url(../images/icons/arrow.png) 33px 11px no-repeat;
  text-align: right;
  padding-right: 29px; }

/*navigation*/
.navBox {
  width: 100%;
  height: 35px;
  background-color: #1369c0;
  color: #FFF; }

.shopClass {
  width: 190px;
  position: relative; }
  .shopClass h3 {
    line-height: 35px;
    text-align: center;
    font-family: "Microsoft YaHei", "微软雅黑"; }
  .shopClass .shortcut {
    top: 14px;
    right: 20px;
    height: 7px;
    overflow: hidden;
    font-size: 14px;
    line-height: 14px;
    -webkit-transition: -webkit-transform 0.1s ease-in;
    transition: -webkit-transform 0.1s ease-in;
    transition: transform 0.1s ease-in;
    transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in; }
    .shopClass .shortcut s {
      position: relative;
      top: -7px;
      text-decoration: none; }
  .shopClass i.shortcut {
    position: absolute; }
  .shopClass:hover .shortcut {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.nav {
  line-height: 35px;
  font-family: "Microsoft YaHei", "微软雅黑"; }
  .nav li {
    float: left; }
  .nav a {
    display: inline-block;
    height: 35px;
    color: #FFF;
    padding: 0 35px; }
  .nav li:hover {
    background-color: #4593fd; }

/*commodity pop-up list*/
.shopClass_show {
  position: absolute;
  left: 0;
  top: 35px;
  width: 100%; }

.shopClass_item {
  padding: 14px 8px;
  font-size: 12px;
  background-color: #4593fd;
  border-bottom: 1px solid #3487f2;
  border-top: 1px solid #5aa1f1; }
  .shopClass_item dt {
    height: 22px;
    background: url(../images/icons/shop_arrow.png) right center no-repeat; }
  .shopClass_item .bold {
    font-size: 13px;
    font-weight: bold; }
  .shopClass_item a {
    color: #FFF; }
    .shopClass_item a:hover {
      text-decoration: underline; }
  .shopClass_item .alink {
    width: 48px;
    height: 20px;
    background: url(../images/icons/alink_bg.png) left center no-repeat;
    display: inline-block;
    line-height: 20px;
    text-align: center; }
  .shopClass_item:last-child {
    margin-bottom: -1px;
    padding-bottom: 20px; }

/*shopClass_item active*/
.shopClass_item:hover {
  background-color: #FFF;
  border-left: 1px solid #4593fd;
  z-index: 1; }
  .shopClass_item:hover dt {
    background: none; }
  .shopClass_item:hover a {
    color: #000; }
  .shopClass_item:hover .shopList_links a {
    color: #FFF; }
  .shopClass_item:hover .alink {
    color: #FFF; }
  .shopClass_item:hover .shopClass_list {
    display: block; }
  .shopClass_item:hover .blank {
    display: inline-block;
    width: 20px;
    height: 62px;
    background: #fff;
    position: relative;
    float: right;
    top: -14px;
    right: -10px;
    z-index: 6; }
  .shopClass_item:hover:last-child .blank {
    height: 68px; }

/*pop-up menu*/
.shopClass_list {
  display: none;
  width: 570px;
  position: absolute;
  left: 189px;
  top: 0;
  border: 1px solid #4593fd;
  background-color: #FFF;
  z-index: 5; }

.shopClass_cont {
  padding: 10px 20px; }

.shopList_item {
  font-size: 12px;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0; }
  .shopList_item dt {
    color: #4b88da;
    font-weight: bold;
    height: 24px;
    line-height: 24px; }
  .shopList_item dd {
    padding-left: 70px;
    margin-top: -24px;
    line-height: 24px; }
  .shopList_item dd a {
    color: #666;
    margin-right: 5px; }

.shopList_links {
  padding: 15px 0 5px 0; }
  .shopList_links a {
    color: #FFF;
    background-color: #2785e6;
    font-size: 12px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 14px 0 8px;
    margin-right: 10px; }
  .shopList_links span {
    width: 11px;
    height: 7px;
    display: inline-block;
    background: url(../images/icons/shop_arrow.png) right center no-repeat;
    margin-left: 7px; }

/*banner*/
.banner {
  margin-bottom: 15px;
  overflow: hidden; }

.banner_bar {
  float: right;
  overflow: hidden;
  position: relative; }

.imgBox {
  position: absolute;
  left: 0;
  top: 0; }
  .imgBox li {
    float: left; }
  .imgBox img {
    display: block; }

.imgNum {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 15px;
  text-align: center; }
  .imgNum span {
    width: 20px;
    height: 5px;
    display: inline-block;
    background-color: #fff;
    overflow: hidden;
    margin: 0 2px;
    color: transparent;
    cursor: pointer; }
  .imgNum .active_select {
    background-color: #ff7700; }

.banner_big {
  width: 810px;
  height: 326px; }
  .banner_big .imgBox {
    width: 3240px;
    height: 326px; }
    .banner_big .imgBox img {
      width: 810px;
      height: 326px; }

.banner_small {
  width: 190px;
  height: 400px; }
  .banner_small .imgBox {
    width: 760px;
    height: 400px; }
    .banner_small .imgBox img {
      width: 190px;
      height: 400px; }

/*shop title*/
.shopTitle {
  height: 44px;
  line-height: 44px;
  font-family: "Microsoft YaHei", "微软雅黑";
  margin-bottom: 15px; }
  .shopTitle h3 {
    font-size: 24px;
    float: left;
    padding-left: 15px; }
  .shopTitle .icon {
    width: 44px;
    height: 44px;
    float: left;
    background: url(../images/shop_title.png) left top no-repeat; }
  .shopTitle .more {
    float: right;
    font-family: "宋体";
    font-size: 12px;
    color: #000; }
    .shopTitle .more:hover {
      text-decoration: underline; }

/*shop list*/
.shopList {
  overflow: hidden;
  margin-bottom: 15px; }
  .shopList .leftArea {
    width: 190px; }
  .shopList .rightArea {
    width: 808px;
    height: 396px;
    border: 1px solid #999;
    border-bottom: 3px solid #ff7201;
    overflow: hidden; }

/*shop list right part*/
.shopList_top {
  overflow: hidden;
  margin-right: -4px; }
  .shopList_top .shop_item {
    float: left;
    width: 202px;
    height: 279px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    text-align: center;
    font-family: "Microsoft YaHei", "微软雅黑"; }
    .shopList_top .shop_item .shop_img {
      height: 218px; }
    .shopList_top .shop_item h3 {
      font-size: 16px; }
      .shopList_top .shop_item h3 a {
        color: #000; }
        .shopList_top .shop_item h3 a:hover {
          text-decoration: underline; }
    .shopList_top .shop_item p {
      font-size: 14px;
      color: #ff7300;
      line-height: 28px; }

/*shop list samll part*/
.shopList_small {
  overflow: hidden;
  margin-right: -4px; }
  .shopList_small .shopItem_sm {
    float: left;
    width: 202px;
    height: 110px;
    padding-top: 20px;
    border-right: 1px solid #999; }
    .shopList_small .shopItem_sm .shopItem_sm_img {
      width: 95px;
      height: 95px;
      text-align: center;
      float: left; }
    .shopList_small .shopItem_sm .shopItem_text {
      width: 100px;
      float: left;
      padding-top: 10px; }
      .shopList_small .shopItem_sm .shopItem_text p {
        font-size: 14px; }
        .shopList_small .shopItem_sm .shopItem_text p a {
          color: #000; }
          .shopList_small .shopItem_sm .shopItem_text p a:hover {
            text-decoration: underline; }
      .shopList_small .shopItem_sm .shopItem_text .active {
        color: #ff7300; }
      .shopList_small .shopItem_sm .shopItem_text h3 {
        font-family: "Microsoft YaHei", "微软雅黑";
        font-size: 16px;
        line-height: 30px;
        color: #181818; }

/*footer*/
.footer {
  margin-top: 40px;
  background-color: #d4d4d4;
  text-align: center;
  font-family: "Microsoft YaHei", "微软雅黑";
  font-size: 12px;
  line-height: 24px;
  padding: 50px 0; }
  .footer i {
    font-style: normal;
    margin: 0 5px; }
  .footer a {
    color: #000; }
    .footer a:hover {
      color: #ff7300; }

.footerlogo {
  padding-top: 30px; }
  .footerlogo img {
    margin: 0 12px; }

/*classify products*/
.products_nav {
  overflow: hidden;
  margin-top: 15px;
  border-bottom: 1px solid #d9d9d9; }
  .products_nav .leftArea {
    width: 185px; }
  .products_nav .rightArea {
    width: 810px; }
  .products_nav .banner_bar {
    float: none; }

.leftNav {
  background-color: #f3f3f3;
  border: 1px solid #d7d7d7; }
  .leftNav .nav_title {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #d7d7d7;
    text-align: center; }
  .leftNav .nav_cont {
    padding: 0 18px 4px;
    border-bottom: 1px dotted #d7d7d7;
    margin-bottom: -1px; }
    .leftNav .nav_cont h3 {
      font-size: 12px;
      font-weight: bold;
      height: 30px;
      line-height: 30px; }

.navcont_list {
  overflow: hidden;
  line-height: 20px;
  font-size: 12px; }
  .navcont_list li {
    float: left;
    width: 50%; }
  .navcont_list a:hover {
    text-decoration: underline; }

.vertical li {
  float: none;
  width: auto;
  padding-left: 8px; }

.products_title {
  margin-top: 7px;
  height: 34px;
  border-bottom: 2px solid #ccc; }
  .products_title h3 {
    width: 180px;
    border-bottom: 2px solid #096dba;
    height: 34px;
    line-height: 34px;
    padding-left: 9px;
    font-weight: bold; }

.products_list {
  overflow: hidden;
  margin-bottom: 20px;
  padding-left: 1%; }
  .products_list .item {
    width: 21%;
    float: left;
    padding: 0 15px; }
  .products_list .img_item {
    height: 200px;
    text-align: center; }
  .products_list img {
    display: inline-block; }
  .products_list p {
    line-height: 20px;
    font-size: 12px; }
    .products_list p a {
      color: #000; }
      .products_list p a:hover {
        text-decoration: underline; }
    .products_list p span:before {
      content: "\272D";
      color: #f6ae35;
      font-size: 16px;
      margin-right: 1px; }
  .products_list .money {
    font-size: 14px;
    font-weight: bold;
    color: #d4105a;
    padding-top: 10px; }

/*sift page*/
.screening_box {
  overflow: hidden;
  font-size: 12px;
  margin-left: 10px; }

.screening {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  font-family: Verdana; }
  .screening dt {
    width: 79px;
    line-height: 32px;
    float: left;
    text-align: right;
    font-weight: bold;
    margin-right: 35px; }
  .screening .unlimited {
    width: 55px;
    float: left;
    line-height: 32px; }
  .screening .active {
    background-color: #1d7ad9;
    color: #FFF; }
  .screening a {
    color: #1d7ad9;
    padding: 2px; }
    .screening a:hover {
      text-decoration: underline; }
  .screening .screening_list {
    overflow: hidden;
    width: 500px;
    line-height: 32px; }
    .screening .screening_list li {
      float: left;
      width: 25%; }
    .screening .screening_list li:last-child {
      width: auto; }
  .screening .screening_more {
    line-height: 32px; }
    .screening .screening_more a {
      display: inline-block;
      width: 120px;
      color: #333;
      float: right;
      padding: 0; }
    .screening .screening_more img {
      top: 3px;
      position: relative; }
  .screening .more_select {
    padding: 5px 10px 5px 0; }
    .screening .more_select li {
      width: auto;
      height: 20px;
      line-height: 20px;
      border: 1px solid #dcdcdc;
      margin-right: 10px; }
    .screening .more_select a {
      color: #333; }
    .screening .more_select img {
      top: 3px;
      position: relative; }

/*address info*/
.address {
  margin: 15px 0 15px 10px;
  height: 31px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  font-size: 14px; }

.address_info {
  float: left; }
  .address_info .address_text {
    float: left;
    line-height: 31px;
    padding-left: 12px;
    padding-right: 6px; }
  .address_info .select {
    margin-top: 4px; }

.select {
  float: left;
  border: 1px solid #999;
  height: 20px;
  line-height: 20px;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 20px;
  position: relative;
  z-index: 2; }
  .select span {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20px;
    background: url(../images/icons/blue_arrow.png) center center no-repeat; }
  .select .show_select {
    display: none;
    position: absolute;
    top: 20px;
    left: -1px;
    background-color: #FFF;
    width: 100%;
    border: 1px solid #999; }
    .select .show_select li {
      padding-left: 10px; }

.screening_text {
  float: right;
  line-height: 31px;
  padding-right: 80px; }
  .screening_text .check {
    float: left;
    padding-right: 10px; }
    .screening_text .check input, .screening_text .check label {
      vertical-align: middle; }
  .screening_text .shop_number {
    float: left; }
    .screening_text .shop_number em {
      color: #f00;
      font-weight: bold; }

.screening_list_more {
  padding-left: 0.5%; }
  .screening_list_more .item {
    width: 29.5%; }
  .screening_list_more .address_cart {
    background-color: #FFF;
    color: #3879bd;
    border: 1px solid #c3d5e7;
    height: 22px;
    display: inline-block;
    padding: 3px 6px 0 23px;
    background: url(../images/icons/address_cart.png) 4px center no-repeat; }

/*page*/
.page {
  font-size: 12px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px; }
  .page a {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    border: 1px solid #ccc;
    padding: 0 12px;
    margin: 0 2px; }
  .page .hl {
    display: inline-block;
    padding: 0 12px;
    margin: 0 2px; }
  .page .morePage {
    display: inline-block;
    padding-left: 14px;
    height: 24px;
    line-height: 24px; }
  .page .pageNum {
    width: 29px;
    padding: 0 3px;
    border: 1px solid #ccc;
    height: 24px;
    line-height: 24px\9;
    text-align: center; }
  .page .page_btn {
    width: 44px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #ccc;
    background-color: #e8e8e8;
    box-sizing: content-box;
    padding: 0;
    margin-left: 6px; }

/*# sourceMappingURL=default.css.map */
